*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    
}

 body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(45deg, #20002c, #cbb4d4);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.tableContainer {
    width: 95vw;
    overflow-x: auto;
    border: 3px solid #cbb4d4;
    /* padding-inline: 0.8rem; */
    padding: 1rem;
    border-radius: 20px;
    background-color: white;
}
/* Table Structure */
table {
  width: 100%;
  min-width: 600px;
  border-collapse: collapse;
  border-radius: 10px;
}

th{
  border-bottom: 3px solid #dcdcdc	;
  border-right: 3px solid #dcdcdc	;
  padding-block: 1rem;
  text-align: center;
  text-transform: capitalize;
}
 td {
  border-top: 3px solid #dcdcdc	;
  border-bottom: 3px solid #dcdcdc	;
  border-right: 3px solid #dcdcdc	;
  padding: 0.6rem;
  text-align: center;
}

tr > th:first-child,
tr > td:first-child {
  border-right: 3px solid #dcdcdc	;
}

tr > th:last-child,
tr > td:last-child {
  border-left: 3px solid #dcdcdc;
  border-right: none !important;
}
thead {
  /* background-color: #f0f0f0; */
  color: #7a6480;
}

tbody tr {
  background-color: white;
  color: #7a6480		;
}

td input {
  width: 100%;
  outline: none;
  padding: 0.3rem;
  border-radius: 5px;
  border: 1px solid #7a6480;
}


.tableRowBtn {
  border: 2px solid white	;
  background-color: #7a6480;
  color: white	;
  border-radius: 5px;
  padding: 8px 8px;
}

.tableRowBtn:hover {
    border: 2px solid #7a6480;
    background-color: white;
    color: 	#7a6480;
    transform: scale(1.02);

}
.tableRowBtn:active {
    background-color:#7a6480;
    color: white;
    transform: scale(0.9);
    transition: ease-in-out 0.2s;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 1rem;
    
}

form  input{
    margin-block: 0.5rem;
    border: 2px solid #cbb3d1;
    padding: 0.5rem;
    border-radius: 8px;
    outline: none;
    width: 100%;
 }

form label {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-bottom: '1rem';
    width: 100%;
}

form span {
    text-transform:capitalize;
    font-size: 1.1rem;
}
form div{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: end ;
    align-items: center;
}
.upper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    row-gap: 1rem;
    margin: 1.5rem;
    width: 100%;
}
.upper select {
    padding: 1rem;
    width: 15rem;
    outline: none;
    border-radius: 8px;
    border: 3px solid #cbb3d1;
    font-size: medium;
    color: gray;
    
}
.upper select option{
    text-transform: capitalize;
}

.upper button{
    padding: 1rem;
    outline: none;
    border-radius: 8px;
    border: 2px solid white;
    background-color: #7a6480;
    width: 15rem;
    color: white;
    font-size: large;
}
.submit {
    width: 6rem !important;
}
.container{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.submit {
  border: 2px solid white	!important;
  background-color: #7a6480 !important;
  color: white !important	;
  border-radius: 5px;
  padding: 8px 8px;
}

.submit:hover {
    border: 2px solid #7a6480 ;
    background-color: white;
    color: 	#7a6480;
    transform: scale(1.02);

}
.submit:active {
    background-color:#7a6480;
    color: white;
    transform: scale(0.9);
    transition: ease-in-out 0.2s;
}

@media (max-width : 786px){
    .tableContainer {
        width: 100%;
    }
}